{% extends "base/base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Recuadro para el formulario de registro -->
            <div class="card rounded">
                <div class="card-body" style="background-color: #f0f0f0;">
                        <h5 class="card-title text-center">Login</h5>
                        <!-- Agrega aquí tu formulario de registro -->
                    <div class="card-footer text-center" >
                        <p>We've sent a reset password link to your email. Please, check your inbox. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}