{% extends "base/base.html" %}
{% block content %}
    <div class="container">
        <br>
        <h5>Profile</h5>
        <br>
        <p>{{ user.get_full_name }}</p>
        <p>DNI: {{ user.profile.dni }}</p>
        <p>Email: {{ user.email }}</p>
        {% if perms.cards.add_card %}
        <a href="{% url 'signup' %}" class="btn btn-success btn-block mt-3">Back</a>
        {% else %}
        <a href="{% url 'cards' %}" class="btn btn-success btn-block mt-3">Cards</a>
        {% endif %}
    </div>
{% endblock content %}