{% extends "base/base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Recuadro para el formulario de registro -->
            <div class="card rounded">
                <div class="card-body" style="background-color: #f0f0f0;">
                        <h5 class="card-title text-center">Add new user</h5>
                        <!-- Agrega aquí tu formulario de registro -->
                    <div class="card-footer text-center" >
                        {% if message %}
                        <div class="alert alert-danger">
                            <strong>DNI</strong>: {{ message }}
                        </div>
                        {% endif %}
                        <form action={% url 'signup' %} method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="btn submit-btn btn-tomato" type="submit" value="Enter">
                        </form>
                        <br>
                        <a href= "{% url 'new_card' %}" class="btn btn-success btn-block mt-3">Add new card</a>
                        <br>
                        <a href= "{% url 'delete_card' %}" class="btn btn-success btn-block mt-3">Delete a card</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}