{% extends "base/base.html" %}
{% block content %}
<!-- Cards -->
<div class="mt-4">
    <h3 class="text-center">Cards</h3>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card rounded">
                    <div class="card-body" style="background-color: #f0f0f0;">
                        <br>
                        {% if not cards %}
                        <div class="card rounded text-center">
                            <br>
                            <h5>No cards</h5>
                            <br>
                        </div>
                        {% endif %}
                        {% for card, encripted_id in cards %}
                        <div class="card rounded">
                            <div class="card-body">
                                <h5>{{ card.format_card_number}}</h5>
                                <br>
                                <p>Balance:   $ {{ card.total_amount }}</p>
                                <br>
                                <p>Expiring date:   {{card.format_expiring_date}}</p>
                                <br>
                                <p>Alias:   {{card.alias}}  <a href="{% url 'change_alias' id=encripted_id %}"><span class="bi bi-pencil"></span></a></p>
                                <a href="{% url 'transactions' id=encripted_id %}" class="btn btn-success btn-block mt-3">Summary</a>
                            </div>
                        </div>                        
                        <br>
                        {% endfor %}
                        {% if perms.cards.add_card %}
                        <a href="{% url 'signup' %}" class="btn btn-success btn-block mt-3">Back</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>  
</div>
{% endblock content %}