{% extends "base/base.html" %}
{% block content %}
<!-- Cards -->
<div class="mt-4">
    <h3 class="text-center">Transactions</h3>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card rounded">
                    <div class="card-body" style="background-color: #f0f0f0;">
                        <a href= "{% url 'new_transaction' id=id %}" class="btn btn-success btn-block mt-3">New transaction</a>
                        <br>
                        <div class="card rounded">
                        
                            {% for transaction in transactions %}
                            <div class="card-body">
                                {% if card.card_number == transaction.sender_card.card_number %}
                                <p>{{transaction.receiver_card.user.get_full_name}} - {{ transaction.date }} </p> 
                                <p>- $ {{ transaction.amount }}</p>                               
                                {% else %}
                                <p>{{transaction.sender_card.user.get_full_name}} - {{ transaction.date }}</p>
                                <p>$ {{ transaction.amount }}</p>
                                {% endif %}                                
                            </div>
                            {% endfor %}
                            {% if not transactions %}
                                <p class="row justify-content-center">No transactions to display</p>
                            {% endif %}
                            
                        </div>
                        <br>
                        <a href="{% url 'cards' %}" class="btn btn-success btn-block mt-3">Back</a>
                        <br>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>   
</div>
{% endblock content %}